@using NimbusFox.Login_Site.Models.Core
@model NimbusFox.Login_Site.Models.Core.Content_Builder.MenuLink
@if (Model.Visibility != EItemVisibility.None) {
     if (Model.Parent == "menuDropDown" || Model.Parent == "menuSubDropDown") {
         <a class="dropdown-item" tabindex="-1" href="@Model.Url"@Html.Raw(Model.NewPage ? " target=\"_blank\"" : "")>@Model.Text</a>
     } else {
         <li class="nav-item"><a class="nav-link" tabindex="-1" href="@Model.Url"@Html.Raw(Model.NewPage ? " target=\"_blank\"" : "")>@Model.Text</a></li>
     }
}